<footer class="foot">
    <div class="containerRedes">
        <a class="link" [href]="['https://github.com/Sdavi3489']" target='_blank'>

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="30px"
                height="30px" />

            @Sdavi3489
        </a>
        <a class="link" [href]="['https://www.linkedin.com/in/davi-soares-aa3761289/']" target='_blank'>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="30px"
                height="30px" />
            @Davi Soares
        </a>
    </div>
    <span>Clone da loja da Playstation desenvolvida para fins educativos - 2023</span>
</footer>